<% provide(:title, "About") %>
<div class="container-fluid">
	<div class="text-center">
		<h1>Contact</h1>
		<div class="row">
		  <div>
		    <p>We are a group of students from Simon Fraser University (SFU) 
		    that are developing Dine for Two as part of a course project.</p>
		    <p>Keep track of our progress on 
		    <a href="https://github.com/cmpt-276/DineForTwo">Github!</a></p>
		  </div>
		  <div class="text-center">
		  	<h1> How to use? </h1>
		  	<ol>
		  		<li> When signing up please select a location to find restaurants near you. </li>
		  		<li> Note only admin users are able to create, edit and destroy restaurants <br>
		  			and locations. </li>
		  		<li> Only admin users are allowed to delete users. </li>
		  		<li> Example admin user: example@dinefortwo.com Password: foobar </li>
		  		<li> Example regular user: example-1@dinefortwo.org Password: password <li>
		  	</ol>
		  </div>
		</div>
	</div>
</div>