<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>We are a group of students from Simon Fraser University (SFU) 
    that are developing Dine for Two as part of a course project.</p>
    <p>Keep track of our progress on 
    <a href="https://github.com/cmpt-276/DineForTwo">Github!</a></p>
  </div>
</div>