<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Dinner alone again tonight? You are not the only one.</p>
  <p>Dine for Two is a web app that matches you with people that love
    the same restaurants that you do.</p>
  <%= link_to "Sign up to get started!", sign_up_path, class: "btn btn-primary" %><br>
  <%= link_to "About us", about_path, class: "btn btn-default btn-sm" %>

  
</div>

<iframe width="1140" height="400" src="https://www.youtube.com/embed/O1GZqmSiVJo" frameborder="0"></iframe>