<% provide(:title, "User Profile") %>
<h1> User Profile </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p><strong> User Name: </strong><%= @person.name %></p>
    <p><strong> User's email: </strong><%= @person.email %></p>
    
    <!--<p><%= link_to "Edit", edit_person_path(@person) %></p>-->
    <!--<p><%= link_to "Delete", @person, data: {confirm: "Are you sure?"}, :method => :delete %></p>-->
  </div>
</div>
