<h1> Listing all restaurants </h1>

<table>
  <tr>
    <th> Name </th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <% if current_user %>
        <th><%= link_to "favorite", favorite_restaurant_path(restaurant,  type: "favorite"), method: :put %>
        </th>
        <th><%= link_to "unfavorite", favorite_restaurant_path(restaurant, type: "unfavorite"), method: :put %>
        </th>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'New restaurant', new_restaurant_path %>
