<div class="container-fluid">
	<div class="text-center">
		<h1 class="titles">
			All Restaurants
		</h1>
	</div>

	<div>
		<% @restaurants.each do |restaurant| %>
			<div class="box_pos">
				<span class="restaurant">
					<%= link_to image_tag(restaurant.avatar, :size => "100x100", :alt => "restaurant_pic"), restaurant_path(restaurant) %>
				</span>
			</div>
		<% end %>
	</div>
	<div class="text-center buttons">
		<%= link_to "New restaurant", new_restaurant_path, class:"btn btn-primary", id:"user_buttons" %>
	</div>
</div>
