// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurantname{
  text-align: left;
}
.Nametag{
  text-align: right;
  color: green;
  font-weight: bold;
}
.restaurantname1{
  text-align: right;
}