<header class="navbar navbar-default">
  <div class="container">
    <%= link_to "Dine for Two", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login", log_in_path %></li>
      </ul>
    </nav>
  </div>
</header>